n8n/workflows/lead_processor.json
{
  "name": "Lead Processor - Kirin Lead Processing Sub-workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://agents:8000/enrich",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "Enricher (Qwen VL Max)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://agents:8000/score",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "Scorer (DeepSeek)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "value": "={{ $json[\"score\"] >= 70 }}",
        "mode": "number",
        "name": "Score Check"
      },
      "name": "Conditional score ≥ 70",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://agents:8000/research",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "Kimi K2 (branch paralela)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://agents:8000/generate_message",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "Messenger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "url": "http://evolution-api:8080/message/sendText/{{$env[\"EVOLUTION_INSTANCE_ID\"]}}",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ {\n  \"number\": $json[\"phone\"].replace(/[^0-9]/g, ''),\n  \"textMessage\": {\n    \"text\": $json[\"generated_message\"]\n  }\n} }}\n"
      },
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "url": "http://agents:8000/crm_sync",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "CRM Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Enricher (Qwen VL Max)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enricher (Qwen VL Max)": {
      "main": [
        [
          {
            "node": "Scorer (DeepSeek)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scorer (DeepSeek)": {
      "main": [
        [
          {
            "node": "Conditional score ≥ 70",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conditional score ≥ 70": {
      "main": [
        [
          {
            "node": "Kimi K2 (branch paralela)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Messenger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Kimi K2 (branch paralela)": {
      "main": [
        [
          {
            "node": "Messenger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messenger": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "CRM Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}