n8n/workflows/main_pipeline.json
{
  "name": "Main Pipeline - Kirin Lead Processing",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "stringParameters": [
          {
            "name": "nicho",
            "value": "clínicas de estética"
          },
          {
            "name": "localização",
            "value": "Campinas"
          },
          {
            "name": "limite",
            "value": "10"
          }
        ]
      },
      "name": "Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://mcp-server:3100/tools/search_google_maps",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ {\n  \"query\": $json[\"nicho\"],\n  \"location\": $json[\"localização\"],\n  \"limit\": parseInt($json[\"limite\"])\n} }}"
      },
      "name": "Extractor Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "mode": "itemLists",
        "value": "{{$json}}"
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "style": {
        "text": "Batch Size: 1"
      }
    },
    {
      "parameters": {
        "workflowId": "{{$env[\"LEAD_PROCESSOR_WORKFLOW_ID\"]}}",
        "staticData": false,
        "executionMode": "runOnce"
      },
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.triggerWorkflow",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parameters": {
      "main": [
        [
          {
            "node": "Extractor Google Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor Google Maps": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}